.wrapper {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div:first-of-type {
        height: 60%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    h3 {
        font-family: sans-serif;
        font-size: 15px;
        width: 100%;
        margin: 0px;
    }
    div:last-of-type {
        display: flex;
        justify-content: space-between;
        h4 {
            margin: 0px;
        }
    }
}